figure + img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/*0001*/
body {/*body es un selector!!!*/
      font: 400 20px Tahoma, Helvetica, sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
      color: #000000;
      background-color: #f6f6f6;
      text-align: justify;
}

nav{
  width: 400px;
  padding: 70px;
  border: 10px solid #FCCB1A;
  margin-left: auto;
  margin-right: auto;
}

/*0001*/
h1 {
      background-color:#FCCB1A; 
      color:#3214B8;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
}

/*0001*/
h2, h3{
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f6f6f6;
}

/*0001*/
ul{
list-style-type: square;
display: table;
margin: auto;
}

/*0001*/
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}

/*0002*/
h3 + video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/*0002*/
h2 + img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h3 + img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/*0001*/
table, th, td{
  border: 1px solid black;
}

/*0001*/
th, td{
  text-align: center;
}

/*0001*/
table{
  margin: auto;
}

caption{
  font-family: "New Century Schoolbook", sans-serif;
}
